/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated2 {
  animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.2s;
}

.animated3 {
  animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.4s;
}

.animated4 {
  animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 0.6s;
}

.animated5 {
  animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -webkit-animation-delay: 0.8s;
}




.box_bread {
  border: 4px solid yellow;
  width: 200px;
  padding: 0 0 5px 20px;
  margin: 20px 20px 20px 0;
  float: left;
}

.box_patty {
  border: 4px solid brown;
  width: 200px;
  padding: 0 0 5px 20px;
  margin: 20px;
  float: left;
}

.box_sauce {
  border: 4px solid red;
  width: 200px;
  padding: 0 0 5px 20px;
  margin: 20px;
  float: left;
}

.box_vegetable {
  border: 4px solid green;
  width: 200px;
  padding: 0 0 5px 20px;
  margin: 20px;
  float: left;
}

.clear {
  clear: both;
}



div.hidden {
  visibility: hidden;  /*visible*/
}

.bread_top,
.bread_bottom {
  text-align: center;
  font-size: 45px;
  height: 80px;
}

.bread_top {
  color: brown;
  background-color: yellow;
  border-radius: 50px 50px 15px 15px;
}

.bread_bottom {
  color: brown;
  background-color: yellow;
  border-radius: 15px;
}

.sauce {
  width: 1100px;
  color: white;
  background-color: red;
  margin-left: 20px;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
}

.vegetable {
  width: 1100px;
  color: white;
  background-color: green;
  margin-left: 20px;
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
}

.patty {
  width: 1100px;
  color: white;
  background-color: brown;
  margin-left: 20px;
  border-radius: 15px;
  text-align: center;
  font-size: 40px;
}

