/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


.box_bread {
  border: 4px solid yellow;
  width: 200px;
  padding: 0 0 5px 20px;
  margin: 20px 20px 20px 0;
  float: left;
}

.box_patty {
  border: 4px solid brown;
  width: 200px;
  padding: 0 0 5px 20px;
  margin: 20px;
  float: left;
}

.box_sauce {
  border: 4px solid red;
  width: 200px;
  padding: 0 0 5px 20px;
  margin: 20px;
  float: left;
}

.box_vegetable {
  border: 4px solid green;
  width: 200px;
  padding: 0 0 5px 20px;
  margin: 20px;
  float: left;
}

.clear {
  clear: both;
}



div.hidden {
  visibility: hidden;  /*visible*/
}



.brown,
.red,
.yellow,
.green {
  text-align: center;
  font-size: 40px;

}


.brown {
  color: white;
  background-color: brown;
  border-radius: 15px;
}

.red {
  color: white;
  background-color: red;
  border-radius: 15px;
}

.yellow {
  color: brown;
  background-color: yellow;
  border-radius: 15px;
}

.green {
  color: white;
  background-color: green;
  border-radius: 15px;
}


